# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Mac Files
.DS_Store

#data
Ruby/data/*
Cpp/road*
/php/osr_scheduler/nbproject/private/

#java
*.class

#vim files
*.swp
